table {
	border-spacing: unset;
	width: 100% !important;
}

th {
	height: 27px;
	line-height: 27px;
	padding: 0px 7px;
	color: #222;
	font-size: 12px;
}

td {
	height: 25px;
	line-height: 25px;
	padding: 0px 7px;
	border-bottom: 1px solid #eee;
	white-space: nowrap;
	font-size: 12px;
}

tbody tr:hover {
	background-color: #d1e4fa !important;
}
